# ignore all of these
#
#
#
#
core/assets/Highscore.s

### Java ###
*.class

### Local conf
local.properties

### Gradle ###
.gradle/
build/
bin/
gen/


### Eclipse ###
.classpath
.project
.settings/

### Intellij ###
.idea/
*.iml
*.ipr
*.iws
